/* PAGE BASE */
.home {
  padding: 25px 35px;
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
}

/* ---------------- HERO SECTION ---------------- */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 25px;
  margin-bottom: 45px;
  background: rgba(255, 255, 255, 0.65);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
}

.hero-text h1 {
  font-size: 34px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.hero-text h1 span {
  color: #F45E0C;
}

.hero-text p {
  margin: 10px 0 18px;
  font-size: 15px;
  color: #555;
}

.hero-btn {
  background: #F45E0C;
  padding: 9px 20px;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(244, 94, 12, 0.32);
}

.hero-img img {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ---------------- SERVICES SECTION ---------------- */
.services-title {
  text-align: center;
  font-size: 26px;
  color: #F45E0C;
  margin-bottom: 22px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: rgba(255, 255, 255, 0.65);
  padding: 18px 12px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 7px 18px rgba(244, 94, 12, 0.20);
}

.card i {
  font-size: 26px;
  color: #F45E0C;
  margin-bottom: 8px;
}

.card h3 {
  margin-bottom: 6px;
  font-size: 17px;
  color: #333;
}

.card p {
  color: #555;
  font-size: 13px;
}
