.header {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0px;
  z-index: 1000;
  left: 0px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 700;
  color: #F45E0C;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo i {
  font-size: 24px;
}

/* NAV LINKS */
.nav {
  display: flex;
  gap: 28px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background: #F45E0C;
  border-radius: 5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  color: #F45E0C;
}

/* ICONS RIGHT SIDE */
.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
  padding: 8px 10px;
  border-radius: 12px;
  transition: 0.3s;
}

.icon:hover {
  background: rgba(244, 94, 12, 0.1);
  color: #F45E0C;
  transform: scale(1.1);
}

/* CART BADGE */
.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #F45E0C;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: 600;
}
